<ion-modal-view hide-nav-bar="true">
	<ion-content class="padding padding-modal">
	<h2 style="text-align:center">Filters</h2>
	<hr>
	<p class="filter-headings">Price</p>
	<div class="filter-hr-line"></div>
	<div style="padding-left:5%; padding-right:5%">
		<div class="row filter-price-box">
			<div class="col verticalLine">$</div>
			<div class="col verticalLine">$$</div>
		</div>
	</div>
	  <div class="list">
	    <button class="button button-full button-positive" ng-click="createContact(newUser)">Create</button>
	  </div>
	<ion-footer-bar align-title="left" style="padding:0px">
		<div class="row">
			<div class="col filter-footer-buttons">
				Cancel
			</div>
			<div class="col verticalLine filter-footer-buttons">
				Search
			</div>
		</div>
	</ion-footer-bar>
	</ion-content>

</ion-modal-view>