
<ion-nav-bar class="bar-balanced nav-title-slide-ios7">
  <a class="tab-item" href="#/app/lists/new">
    <i class="icon ion-plus-round"></i>
  </a>
</ion-nav-bar>

<ion-view title="Listings" animation="none">

	<!-- ****************************
    Content
  **************************** -->
  <ion-content class="has-header">

 <!-- <div ng-repeat="list in personalList" class="list card">

  <div class="item">

    <h2>{{list.quantity}}{{list.title}}<span style='float:right'>Picked up 2 days ago</span></h2>
  </div>

  <div class="item item-body">
    <p>{{post.description}}</p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-compose"></i>
      Edit
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-close-circled"></i>
      Hide
    </a>
    <a class="tab-item" href="http://www.dailybread.ca/">
      <i class="icon ion-share"></i>
      Donate Now!
    </a>
  </div>

</div> -->



<div ng-repeat="list in personalList" class="list" style="margin-bottom:0px">

    <a class="item item-avatar" href="#">
      <img src="img/spinach.jpg">
      <h2>{{list.produceName}}</h2>
      <p>{{list.description}}</p>
    </a>
</div>


  </ion-content>
    <div class="tabs">
    <a id='find' class="tab-item" href="#/app/lists" ng-click='changeTabColor()'>
      Find
    </a>
    <a id='sell' class="tab-item">
      Sell
    </a>

</div>
</ion-view>
