<ion-view title="Items Near You" hide-nav-bar="true" animation="none">


  <!-- ****************************
    Content
  **************************** -->
  <ion-content scroll="false">

    <div class="bar bar-header item-input-inset" style="background:#4da75c">
      <!-- search box -->
      <div class="row">
      <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="search" ng-model="query" style="max-width: 70%;">
        <div class="vertical-divider"></div>
        <div ng-click="openFilter()">
          <i class="icon ion-android-more"></i>
          <label>Filter</label>
      </div>
      </label>
    </div>

    </div>

    <!-- Main list -->
 <center><img src="img/legend.png" style="width: 80%; padding:20px 20px;"></center>
<h4><span style='float:left;padding-right: 22%; padding-left: 8%;'>#</span> Produce</h4>

<div class="lists list padding-footer">
<ion-scroll>
  <a ng-repeat="list in produceList | filter: query"
     href="#/app/lists/{{list._id}}"
     class="item item-thumbnail-left">
      <img ng-src="{{list.uploadedImages[1]}}">
    <h2>{{ list.produceName }}</h2>
    <h4 style="color:green">${{ list.price }}/lb</h4>
    <p>{{ list.description }}</p>
  </a>
  <div ng-show="!produceList" class="loading-spinner">
    <i class="ion-loading-c"></i>
  </div>
</ion-scroll>
</div>



  <div class="tabs tabs-icon-top">
    <a class="tab-item" href="#/app/listings">
      <i class="icon ion-home"></i>
      My Dash
    </a>
    <a class="tab-item" href="#/app/mapView">
      <i class="icon ion-location"></i>
      Map
    </a>
    <a id='sell' class="tab-item" href="#/app/lists/new" ng-click='changeTabColor()'>
      <i class="icon ion-plus-round"></i>
      Sell Produce
    </a>


  </div>
  </ion-content>
</ion-view>
