<ion-view title="Item Details ">

  <ion-content class="has-header" scroll="false" data-tap-disabled="true">

  	<!-- List of items -->


       <div id="map" class="card"></div>

<div class="card">
    <div class="item item-divider">
        <span style="float:left"><i class="icon ion-android-location"></i></span>
        <span style="padding-left:10px">Get Directions</span>
        <span style="float:right"><i class="icon ion-chevron-right"></i></span>
    </div>

    <div class="item item-divider">
       <span style="float:left"><i class="icon ion-ios7-telephone"></i></span>
        <span style="padding-left:10px">Call</span>
        <span style="float:right"><i class="icon ion-chevron-right"></i></span>
    </div>  
     <div class="item item-divider">
       <span style="float:left"><i class="icon ion-android-note"></i></span>
        <span style="padding-left:10px">More Info</span>
        <span style="float:right"><i class="icon ion-chevron-right"></i></span>
    </div>                                  
</div>  

<!--     <ion-item
        ng-class="{ done : item.done }">
        Title: {{list.title}}
    </ion-item>
    <ion-item
    ng-class="{ done : item.done }">
        Price: {{list.pay}}
    </ion-item>
    <ion-item
    ng-class="{ done : item.done }">
        Quantity: {{list.quantity}}
    </ion-item>

      <ion-item
    ng-class="{ done : item.done }">
        Description: {{list.description}}
    </ion-item>
        <ion-item
    ng-class="{ done : item.done }">
        Name: {{list.name}}
    </ion-item>
        <ion-item
    ng-class="{ done : item.done }">
        Phone: {{list.phone}}
    </ion-item>
            <ion-item
    ng-class="{ done : item.done }">
        email: {{list.email}}
    </ion-item>
            <ion-item
    ng-class="{ done : item.done }">
        Address: {{list.address}}
    </ion-item> -->

      <div class="padding">
        <button class="button button-block button-calm" ng-click="apply()">
          Pay with PayPal
        </button>
      </div>



  </ion-content>
</ion-view>
