<ion-view title="Item Details " hide-nav-bar="true">


<div class="bar bar-header item-input-inset" style="background:#4da75c">
  <button class="button button-icon icon ion-arrow-left-c header-background" ng-click=" goBack()"></button>
  <h1 class="title list-header-content">{{currentList.description}}</h1>
  <button class="button button-icon button-positive">Save</button>
</div>

  <ion-content class="has-header" scroll="false" data-tap-disabled="true">


  	<!-- List of items -->

<h3 class="center padding-top">{{currentList.produceName}}</h3>

  <div class="filter-hr-line"></div>
<!--TODO: Use ngRepeat here -->
<div>
  <ul class="padding-left-thumbnails">
    <li class='image' ng-repeat="t in [1,2,3]">
      <img ng-src="{{currentList.uploadedImages[$index+1]}}">
    </li>
  </ul>
</div> 

<div class="list card" style="clear:left">
      <a href="#" class="item item-icon-left list-background">
        <i class="icon ion-android-location"></i>
        Get directions
      </a>
      <a href="#" class="item item-icon-left list-background">
        <i class="icon ion-ios7-telephone"></i>
        Call
      </a>
      <a href="#/app/mapView" class="item item-icon-left list-background">
        <i class="icon ion-map"></i>
        Full Screen Map
      </a>   
      <a href="#" class="item item-icon-left list-background-last">
        <i class="icon ion-more"></i>
        More Details
      </a>                           
</div>


<!--     <ion-item
        ng-class="{ done : item.done }">
        Title: {{list.title}}
    </ion-item>
    <ion-item
    ng-class="{ done : item.done }">
        Price: {{list.pay}}
    </ion-item>
    <ion-item
    ng-class="{ done : item.done }">
        Quantity: {{list.quantity}}
    </ion-item>

      <ion-item
    ng-class="{ done : item.done }">
        Description: {{list.description}}
    </ion-item>
        <ion-item
    ng-class="{ done : item.done }">
        Name: {{list.name}}
    </ion-item>
        <ion-item
    ng-class="{ done : item.done }">
        Phone: {{list.phone}}
    </ion-item>
            <ion-item
    ng-class="{ done : item.done }">
        email: {{list.email}}
    </ion-item>
            <ion-item
    ng-class="{ done : item.done }">
        Address: {{list.address}}
    </ion-item> -->
  </ion-content>
</ion-view>
