<ion-view title="Item Details ">

  <ion-content class="has-header" scroll="false" data-tap-disabled="true">

  	<!-- List of items -->


       <div id="map" class="card"></div>

<div class="list card">
      <a href="#" class="item item-icon-left list-background">
        <i class="icon ion-android-location"></i>
        Get directions
      </a>
      <a href="#" class="item item-icon-left list-background">
        <i class="icon ion-ios7-telephone"></i>
        Call
      </a>
      <a href="#/app/mapView" class="item item-icon-left list-background">
        <i class="icon ion-map"></i>
        Full Screen Map
      </a>   
      <a href="#" class="item item-icon-left list-background-last">
        <i class="icon ion-more"></i>
        More Details
      </a>                           
</div>

<h3 class='padding-left'>Photos</h3>  

<div class="h-line padding-left"></div>
<!--TODO: Use ngRepeat here -->
<div>
  <ul>
    <li class='image' ng-repeat="t in [1,2,3,4]">
      <img src="img/spinach.jpg">
    </li>
  </ul>
</div> 
<!--     <ion-item
        ng-class="{ done : item.done }">
        Title: {{list.title}}
    </ion-item>
    <ion-item
    ng-class="{ done : item.done }">
        Price: {{list.pay}}
    </ion-item>
    <ion-item
    ng-class="{ done : item.done }">
        Quantity: {{list.quantity}}
    </ion-item>

      <ion-item
    ng-class="{ done : item.done }">
        Description: {{list.description}}
    </ion-item>
        <ion-item
    ng-class="{ done : item.done }">
        Name: {{list.name}}
    </ion-item>
        <ion-item
    ng-class="{ done : item.done }">
        Phone: {{list.phone}}
    </ion-item>
            <ion-item
    ng-class="{ done : item.done }">
        email: {{list.email}}
    </ion-item>
            <ion-item
    ng-class="{ done : item.done }">
        Address: {{list.address}}
    </ion-item> -->
  </ion-content>
</ion-view>
