<ion-view title="Items Near You" animation="none">


	<!-- ****************************
    Content
  **************************** -->
  <ion-content class="has-header" scroll="false">

    <div class="bar bar-header item-input-inset">
      <!-- search box -->
      <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="search" ng-model="query">
      </label>
      <button class="button button-clear" ng-click="clear()">
        Cancel
      </button>
    </div>

  	<!-- ionic list directive -->
 <center><img src="img/legend.png" style="width: 80%; padding:20px 0;"></center>
<h4><span style='float:left;padding-right: 14%; padding-left: 8%;'>#</span> Produce</h4>

    <ion-list class='padding-bottom lists'>
      <ion-scroll>
        <ion-item ng-repeat="list in produceList | filter: query" href="#/app/lists/{{list._id}}" >
        
          <div style='float:left;margin-right: 5%;' class='listsLength'>{{list.quantity}}</div>
          <div style='text-transform:capitalize;' class='listsLength'>{{list.produceName}} <span style="font-style:italic; font-size: 0.8em">400m away<span>
                    <span style="float:right"><i class="icon ion-chevron-right"></i></span></div>
        </ion-item>
      </ion-scroll>
    </ion-list>


  <div class="tabs tabs-icon-top">
    <a class="tab-item" href="#/app/lists">
      <i class="icon ion-ios7-cart"></i>
      Find
    </a>
    <a id='sell' class="tab-item" href="#/app/lists/new" ng-click='changeTabColor()'>
      <i class="icon ion-plus-round"></i>
      Sell
    </a>
    <a class="tab-item" href="#/app/mapView">
      <i class="icon ion-location"></i>
      Map
    </a>

  </div>
  </ion-content>
</ion-view>
