
 <ion-view title="Sign-In">
  <ion-content has-header="true" padding="true">
      <div class="list header">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="user.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="user.password">
        </label>
      </div>
      <div class="padding">
         <button class="button button-block button-balanced signupButton" ng-click="login(user)">
          Sign-In
        </button>
        <p class="text-center">
          <a href="#/forgot-password">Forgot password</a>
        </p>
      </div>
    </ion-content>
 </ion-view>