<ion-view title="Post a new Listing">

  <!-- ****************************
    Content
  **************************** -->
  <ion-content class="has-header">
    	<!-- List Title -->
    	<div class="list card">
    		  <div class="item item-divider">
				    Food information
				  </div>
		  <label class="item item-input">
		    <span class="input-label">Post Title</span>
		    <input type="text" ng-model="newList.title">
		  </label>

				<div class="item item-input item-select">
			    <div class="input-label" ng-model="newItem.paymentType">
			      Food Type
			    </div>
			    <select class="select-class">
			      <option selected>Vegetable</option>
			      <option>Fruit</option>
			    </select>
			  </div>
			  <label class="item item-input">
			    <span class="input-label">quantity</span>
			    <input type="number" ng-model="newItem.quantity" placeholder="0">
			  </label>
			  <label class="item item-input">
			    <span class="input-label">Price</span>
			    <input type="number" ng-model="newItem.price" placeholder="$/lb">
			  </label>
			  <label class="item item-input">
			    <span class="input-label">Harvest Date</span>
			    <input type="date" ng-model="newItem.date" placeholder="">
			  </label>
			  <label class="item item-input">
			    <span class="input-label">Description</span>
			    <input type="text" ng-model="newItem.description" placeholder="Enter description">
			  </label>
		</div>
		<div>
		  	<button class="button button-block button-balanced signupButton" ng-click="save()">
  				Save
			</button>
		</div>
  </ion-content>
	
</ion-view>
