<ion-view title="Select User">

	<!-- ****************************
    Content 
  **************************** -->
  <ion-content class="has-header">

  	<!-- ionic list directive -->
    <div class="list">

      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item-content">
          Rick
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item-content">
          Tim
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item-content">
          Ian
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item-content">
          Tony
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
    </div>
      <div class="padding">
        <button class="button button-block button-calm" ng-click="apply()">
          Pay with Paypal
        </button>
      </div>

  </ion-content>
</ion-view>