<ion-view title="Settings">
  <ion-content class="has-header">
    <div class="list">
      <!-- Divider -->
      <div class="item item-divider">
        Account
      </div> 
      <!-- list item with badge -->
      <a class="item item-icon-left item-icon-right" href="">
        <i class="icon ion-ios7-person"></i>
          person@email.com
        <span class="badge badge-assertive">0</span>
      </a>
      <!-- list item with note -->
      <a class="item item-icon-left" href="">
        <i class="icon ion-android-battery"></i>
        Battery
        <span class="item-note">75%</span>
      </a>
      <!-- toggle button -->
      <ion-toggle toggle-class="toggle-balanced">
        Notifications
      </ion-toggle>
      <!-- list item with icon -->
      <a class="item item-icon-left" href="">
        <i class="icon ion-person-add"></i>
          Add an account
      </a>
      <!-- divider -->
      <div class="item item-divider">
        Special
      </div>
      <!-- list item with select box -->
      <label class="item item-input item-select">
        <div class="input-label">
          Lightsaber
        </div>
        <select>
          <option>Blue</option>
          <option selected>Green</option>
          <option>Red</option>
        </select>
      </label>
      <!-- range selector -->
      <div class="range">
        <i class="icon ion-flash-off"></i>
        <input type="range" name="volume">
        <i class="icon ion-flash"></i>
      </div>

    </div>
  </ion-content>
</ion-view>