<ion-view title="'Signup'">
  <ion-content has-header="true" padding="true">
      <div class="list header">
        <label class="item item-input">
          <input type="text" placeholder="Email" ng-model="user.email">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="user.password">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Title" ng-model="user.title">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Produce Name" ng-model="user.produceName">
        </label>
        <label class="item item-input">
          <input type="number" placeholder="Quantity" ng-model="user.quantity">
        </label>
        <label class="item item-input">
          <input type="number" placeholder="Price" ng-model="user.price">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Description" ng-model="user.desc">
        </label>
        <label class="item item-input">
          <input type="date" placeholder="Date" ng-model="user.date">
        </label>
        <div>
          <button class="button button-block button-balanced signupButton" ng-click="signup(user)">Create account</button>
        </div>
        <div style="text-align: center">
          Or <a href="/#/login">Already have an account?</a>
        </div>
      </div>
  </ion-content>
</ion-view>