<img class="comment-avatar" ng-src="{{comment.avatarURL}}"/>
<span class="icon ion-edit editIcon" ng-click="showEditMenu(comment)" ng-show="isEditable()"></span>
<div>
  <span class="author">{{comment.owner.firstName}}</span>
  -
  <span class="date">{{comment.dateTimeCreated | date : 'MMM d, y h:mm:ss'}}</span>
</div>
<div class="content">{{parsedContent}}</div>
<div style="text-align:center; margin-top:-10px;padding:0">
  <a href="javascript:void(0)" class="showMore" ng-show="contentIsOverflowing()" ng-click="showFullPost()">...show full post</a>
</div>