<div ng-include="'app/stream/post/joinable/components/activity-log.tpl.html'"  ng-if="isCommentsView()"></div>


<div ng-include="'app/stream/post/joinable/components/header.tpl.html'"></div>
<div ng-include="'app/stream/post/joinable/components/content.tpl.html'"></div>

<div ng-include="'app/stream/post/components/like-comment.tpl.html'" ng-if="isCommentsView()"></div>
<div ng-include="'app/stream/post/components/comments.tpl.html'" ng-if="isCommentsView()"></div>

<div ng-include="'app/stream/post/joinable/components/detail/group-content.html'" ng-if="isDetailView()"></div>
