    <div class="post-info row">

        <i class="icon" ng-class="streamItemResourceService.getJoinableHeaderIcon(post)"></i>

        <div class="col col-75">
            <div ng-switch="post.relationTypeSlug" ng-if="post.detail">
                <div ng-switch-when="group">
                    <div ng-include="'app/stream/post/joinable/components/header-details/group-header.tpl.html'"></div>
                </div>

                <div ng-switch-when="event">
                    <div ng-include="'app/stream/post/joinable/components/header-details/event-header.tpl.html'"></div>
                </div>

                <div ng-switch-when="challenge">
                    <div ng-include="'app/stream/post/joinable/components/header-details/challenge-header.tpl.html'"></div>
                </div>

                <div ng-switch-default>
                    <span>Error find details for {{post}}</span>
                </div>
            </div>
        </div>
    </div>