<div class="special-avatar">
    <!-- <img ng-src="{{streamItemResourceService.getJoinableHeaderIcon(post)}}" /> -->
    <!-- <i ng-class="icon sprout-icon-group"></i> -->
    <div class="post-info row">
        <i class="icon" ng-class="streamItemResourceService.getJoinableHeaderIcon(post)"></i>
        <div class="col col-75">
          <h1 class="title" ng-click="showDetailView()">{{post.streamItemDisplay.title}}</h1>
          <div class="" ng-if="post.streamItemDisplay.greyText">{{post.streamItemDisplay.greyText}}</div>
          <div class="" ng-if="detail.challengeType">{{detail.challengeType}}</div>
          <div class="" ng-if="detail.eventLocation"><i class="icon ion-ios7-location header-location-icon"></i>{{detail.eventLocation}}</div>
          <div class="author">{{post.streamItemDisplay.orangeText}}</div>
        </div>
        <div class="col">
            <div ng-show="post.points" class="points-container">
                <span class="points">{{post.points}}</span>
                <span class="pointsLabel">points</span>
            </div>
        </div>
    </div>
</div>