<div class="list" data-ng-show="commentsExist || isWrappedInModal">
    <div class="item hide-after comment" data-ng-repeat="comment in comments | trimToLatest:numCommentsDisplayed:isWrappedInModal">
        <sprout-comment comment="comment" user="user" delete-post="deleteComment(c)"></sprout-comment>
    </div>

    <div class="postInputArea row">
      <expand-input ng-model="post.newComment"
                    max-length="8000"
                    placeholder="Add a comment..."
                    class="add-comment col col-80">
      </expand-input>
      <button type="button" class="button button-small button-stable col col-20" ng-click="postComment(newComment)">Post</button>
  </div>
</div>
