<!-- ion-nav-bar goes here -->
<ion-view title="Metrics">
    <!-- ion-header-bar goes here -->
    <ion-header-bar align-title="center" class="bar-positive">
        <div class="buttons">
            <button class="button icon ion-navicon-round"></button>
        </div>
        <h1 class="title">Metrics</h1>
        <!-- only show if user is logged in -->
        <!-- ng-show="AuthSvc.isLoggedIn()" -->
        <!-- Settings Button -->
        <div class="buttons">
            <button ng-click="header.showAccountOptions()" class="button icon ion-gear-a"></button>
        </div>
    </ion-header-bar>

    <ion-content class="text-center padding has-header">
        <div class="btn-group">
            <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Week'">Week</label>
            <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Month'">Month</label>
            <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Quarter'">Quarter</label>
            <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Year'">Year</label>
        </div>
    </ion-content>

</ion-view>