<!-- ion-nav-bar goes here -->
<ion-view title="Metrics">
    <!-- ion-header-bar goes here -->
    <ion-header-bar align-title="center" class="bar">
        <left-nav-toggle-btn></left-nav-toggle-btn>
        <h1 class="title">Activity Log</h1>
        <div class="buttons">
            <button class="button button-clear icon sprout-icon-notification"></button>
        </div>
    </ion-header-bar>
    <ion-content class="metrics has-header">

        <!--User profile and main scoreboard-->
        <div class="row user-profile">
                <img ng-src="{{user.avatarURL}}" class="avatar">
            <div class="col col-50 user-name">
                <h2>{{user.firstNameDisplay + ' ' + user.lastNameDisplay}}</h2>
                <p>{{user.department + ' - ' + user.location}}</p>
             </div>
             <div class="col points">   
                <p class="number">{{visibleSproutScore}}</p>
                <p>points</p>
            </div>
        </div>
        <!--Time Period slider-->
        <hr>
        <ion-slide-box id="PeriodSlider" show-pager="false" on-slide-changed="applyFilter($index)">

            <ion-slide class="list item metrics-slide" ng-repeat="filter in timePeriodFilters">
                <div class="row">
                    <div class="col col-30 filter left" style="text-align: left">
                        {{timePeriodFilters[$index - 1].displayName}}
                    </div>
                    <div class="col col-40 filter selected" style="text-align: center">
                        {{$index > 0 ? '' : ''}} {{filter.displayName}} {{$index
                        < timePeriodFilters.length ? '' : ''}} </div>
                            <div class="col col-30 filter right" style="text-align: right">
                                {{timePeriodFilters[$index + 1].displayName}}
                            </div>
                    </div>
            </ion-slide>
        </ion-slide-box>
        <hr>
        <!--Activity log-->

        <div class="list metrics activity-log">
            <div ng-repeat="activity in groupedActivities" class="card">
                <div ng-if="$index == 0 || insertNewDateGrouping($index)" class="date">
                    {{ generateDisplayDate(activity.date) }}
                </div>

                <div class="item">
                    <div class="activity-name">{{activity.activityDisplayName}}
                        <span class="minutes">- {{activity.quantity}} {{activity.activityUnitDisplayName}}</span>
                        <div class="points">
                            <span class="number">{{activity.points}}</span> pts</div>
                    </div>
                </div>
            </div>
        </div>

        <ion-infinite-scroll on-infinite="performInfiniteScroll()" icon="ion-loading-c" distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-view>