<!-- ion-nav-bar goes here -->
<ion-view title="Leaderboards">
  <!-- ion-header-bar -->
  <ion-header-bar class="bar bar-positive nav-title-slide-ios7">
    <!-- Hamburger Button -->
    <div class="buttons">
      <button
        class="button button-clear icon ion-navicon-round"
        ng-click=""></button>
    </div>
    <h1 class="title" ng-click="showLeaderboardFilter()">{{leaderboardFilter}}</h1>
    <!-- only show if user is logged in -->
    <!-- ng-show="AuthSvc.isLoggedIn()" -->
    <!-- Settings Button -->
    <div class="buttons">
      <button
        class="button button-clear icon ion-gear-a"
        ng-click="header.showAccountOptions()"></button>
    </div>
  </ion-header-bar>


  <ion-content class="text-center padding has-header">

    <div id="leaderBoards" ng-hide="editFilters">
      <div id="ActivityDurationFilter" ng-click="editFilters = !editFilters">All Activities | Challenge Duration</div>
      <h3 class="rankingTitle">{{currentRankingCategory.title}}</h3>
      <ion-slide-box id="LeaderboardList" on-slide-changed="changeRankingOption(index)">
        <ion-slide ng-repeat="rankCategory in rankingOptions">
          <div leader="leaderData" ng-repeat="leaderData in leaderboardData.items | orderBy:'rank'"
               class="list card leader row">
          </div>
        </ion-slide>
      </ion-slide-box>
    </div>

    <div id="FilterView" ng-hide="!editFilters" ng-click="editFilters = !editFilters">

      <div class="list">
        <a href="#" class="item" ng-repeat="activity in selectedCategory.activities">{{activity.activityName}}</a>
      </div>

    </div>

  </ion-content>

</ion-view>
