<div class="numpad-container">
  <div class="numpad-row">
    <div class="key number first" ng-click="update('1')">1</div>
    <div class="key number" ng-click="update('2')">2</div>
    <div class="key number" ng-click="update('3')">3</div>
  </div>
 
  <div class="numpad-row">
    <div class="key number first" ng-click="update('4')">4</div>
    <div class="key number" ng-click="update('5')">5</div>
    <div class="key number" ng-click="update('6')">6</div>
  </div>
  
  <div class="numpad-row">  
    <div class="key number first" ng-click="update('7')">7</div>
    <div class="key number" ng-click="update('8')">8</div>
    <div class="key number" ng-click="update('9')">9</div>
  </div>
  
  <div class="numpad-row">  
    <div class="key icon icomoon-backspace" ng-click="delete()"></div>
    <div class="key number" ng-click="update('0')">0</div>
    <!-- Skip -->
    <div
      ng-if="!modelObj" 
      class="key skip"
      ng-click="accept()">Skip</div>
    <!-- Next -->
    <div 
      ng-if="modelObj"
      class="key continue" 
      ng-click="accept()">{{next || 'continue'}}</div>
  </div>
</div>