<div class="post-info row">
  <img ng-src="{{avatarURL}}"/>

  <div class="col">
    <!--TODO replace {user.name} with class author and add as link, right now it's hardcoded below -->
    <span class="author">{{owner.firstNameDisplay + ' ' + owner.lastName}}</span> {{content}}
    <br/>
    <span class="date">{{dateTimeCreated}}</span>
    <!--<img src="img/icons/join-confirm-icon.svg" class="join-btn" data-ng-click="subscribeToGroup()" ng-if="!streamItemDisplay.heroImg"/>-->
    <!--<join-button has-hero-img="streamItemDisplay.heroImg"  post="post" ng-if="!streamItemDisplay.heroImg"></join-button>-->

  </div>

</div>