<ion-view title="Sign-In" id="loginView">
    <ion-content scroll="true">
        <div class="row" ng-if="!isAlreadyAthenticated">
            <div class="col sign-in">
                <form>
                    <ul class="list">
                      <li>
                        <img src="img/signin/sprout-logo-white.png">
                        <li>
                            <label class="item item-input" >
                                <span class="input-label" ng-class="{ assertive : loginErrorMsg }">Email</span>
                                <input type="email" ng-model="userForm.email">
                            </label>
                        </li>
                        <li>
                            <label class="item item-input" >
                                <span class="input-label" ng-class="{ assertive : loginErrorMsg }">Password</span>
                                <input type="password" ng-model="userForm.password">
                            </label>
                        </li>
                        <li>
                            <p class="text-center">
                                <a href="#/forgot-password">Forgot password?</a>
                            </p>
                        </li>
                    </ul>
                        <p class="error text-center ">
                            <span ng-show="!!loginErrorMsg">
                                <span class="icon ion-alert-circled "></span>
                                {{loginErrorMsg}}
                            </span>
                        </p>

                        <button class="button button-block button-positive" ng-click="signIn(userForm)">
                            Sign-In
                        </button>
                        <div class="col col-80 col-offset-10">
                        <ul class="list">
                            <li class="item item-toggle">
                                <span class="label">Remember Me</span>
                                <label class="toggle toggle-positive">
                                    <input type="checkbox" ng-model="userForm.rememberMe">
                                    <div class="track">
                                        <div class="handle"></div>
                                    </div>
                                </label>
                            </li>
                        </ul>
                </form>
                </div>
            </div>
    </ion-content>
</ion-view>