.metrics-slide {
    border:0;
    margin-bottom:0;
    padding:0 5px;
}
.metrics {
    p {
        font-size: .8rem;
        color:$mediumgrey;
        margin-bottom: 5px;
    }
    &.list {
        margin-bottom: 1rem;
    }
    .user-profile {
        margin: 1rem 0;
        padding-left: 0;
        height: 83px;
        .avatar {
            max-width: 80px;
            max-height: 80px;
            border-radius: 0 3px 3px 0;
            padding:0;
            margin-right: 10px;
            float: left;
            position: relative;
            left:0;
        }
        .user-name, h2 {
            color:$orange;
            font-size: 1.2rem;
            font-weight: 400;
            margin-bottom: 0;
            text-align: left;
        }
        .points {
            text-align: right;
            font-size: .8rem;
            font-weight: 400;
            padding-right: 10px;
            p{
                color: $orange;
            }
            .number{
                font-size: 1.2rem;
                font-weight: 500;
                margin-bottom: 0;
            }
        }
    }
    .card {
        margin: .5rem 0 .5rem 0;
        .date {
            color:$blue;
            margin-bottom: .5rem;
            padding-left: 10px;
            padding-top: .5rem;
        }
        .item {
            border-radius: 3px;
            font-size: .8rem;
            padding: 5px 10px;
            .minutes {
                font-weight: 500;
                color: $mediumgrey;
            }
            .activity-name {
                font-size:.8rem;
            }
            .points {
                float:right;
                font-weight: 400;
                line-height: 1.2;
                .number {
                    font-weight: 500;
                    font-size:1rem;
                }
            }
        }
    }
}
.item-thumbnail-left>img:first-child {
    position: absolute;
    /* top: 10px; */
    left: 0px;
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    border-radius: 0 3px 3px 0;
}
.selected {
    font-weight : bold !important;
    color: $darkgrey !important;
}
.filter {
    color: $mediumgrey;
}
.points {
    color:$orange;
    font-size:.8rem;
    text-align: center;
}
.fixed {
    // position: fixed;
    // background: #fff;
    margin: 1rem 0;
}
.activity-log {
    // padding-top: 165px;
    padding: 0 10px;
}
.item-thumbnail-left, .item-thumbnail-left .item-content {
    padding-left: 95px;
    min-height: 100px;
}
.screen{
    position: relative;
}
.screen:after {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    content:"";
    background: -webkit-gradient(linear, left top, right top, 
        color-stop(0%,rgba(255,255,255,1)), 
        color-stop(20%,rgba(255,255,255,0)), 
        color-stop(80%,rgba(255,255,255,0)), 
        color-stop(100%,rgba(255,255,255,1)));
    pointer-events: none;
    /* so the text is still selectable */
}