// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;
$Sprout-font-path: "../fonts/Sprout/fonts" !default;

//Custom Srotu Icon Font import
@import "www/fonts/Sprout/style.scss";

// To customize the look and feel of Ionic, you can
// override the variables in this file
@import "variables.scss";

// Include all of Ionic
@import "www/lib/ionic/scss/ionic.scss";

// CSS modules
@import "streams.scss";
@import "post.scss";
@import "leaderboard.scss";
@import "left-nav.scss";
@import "user-settings.scss";
@import "activity-log.scss";

@font-face {
  font-family: 'Sprout';
  src: url('../fonts/Sprout/fonts/Sprout.eot');
}
@font-face {
  font-family: 'Sprout';
  src: url('../fonts/Sprout/fonts/Sprout.ttf') format('truetype'),
     url('../fonts/Sprout/fonts/Sprout.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face{ 
  font-family: 'Garogier';
  src: url('../fonts/Garogier/Garogier.eot');
  src: url('../fonts/Garogier/Garogier.eot?iefix') format('eot'),
       url('../fonts/Garogier/Garogier.woff') format('woff'),
       url('../fonts/Garogier/Garogier.ttf') format('truetype'),
       url('../fonts/Garogier/Garogier.svg#webfont') format('svg');
}
body{
  color:$darkgrey;
}

@mixin gradient-divider() {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    margin: 0;
    border: 0;
    height: 1px;
    width: 100%;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  }
}
hr {
    margin:0;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}
.button{
  border-radius: 3px;
}
ion-header-bar button.post.active {
    color: $blue;
    font-weight: 500;
    opacity: 1;
}
.subdued{
  color:$mediumgrey;
}
.uppercase{
    text-transform: uppercase;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

// this is currently being used to make the list of posts area appear at the right
// y-position relative to the header or the "post-to-stream" feature.
.no-header {
  top:1 !important;
}
.has-tabs{
  bottom:0;
}
.bar .button.button-clear{
  font-size: 1rem;
}
.bar{
  @include box-shadow (0px, 0px, 3px, 1px, rgba(50,50,50,0.15));
  z-index: 1000;
  .bar-header{
    background-color: rgba(255, 255, 255, 0.9);
    font-family: 'roboto', helvetica, arial, sans-serif;
    font-weight: 100;
  }
  .sprout-icon-close, .sprout-icon-back {
    right: 10px;
  }
  .title{
    font-size: 1.2rem;
    font-family: 'roboto', helvetica, arial, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
  }
  .filter-chevron{
    font-size:0.5rem;
    font-size: 0.5rem;
    position: relative;
    top: 22px;
    margin: 0 auto;
  }
  .button-clear{
    color:$darkgrey;
  }
  .notifications-icon{
    width: 24px;
    margin-top: 4px
  }
}

.modal-backdrop {
  z-index:1000;
}
.modal {
    .post .post-info img {
        border-radius: 0 3px 3px 0;
    }
    .item.post {
        margin: 0 0 3rem 0;
        border: 0;
        box-shadow: none;
        border-radius: 0;
    }
}
.iconbase {
  margin: 0px auto;
  width: 80px;
}
.vertical-divider{
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 10%, rgba(221,221,221,1) 100%);
  width:1px;
  border: none;
}
button {
  border-width: 0 !important;
}
.button.button-positive{
   background-color: $green;
 }
 .button.button-blue{
   background-color: $blue;
   color:#fff;
 }
.main > .tabs {
  background: $positive;
  color: $light;
  background: $greentrans;
  border-top: 2px solid $darkgreen;
  color: $darkgrey;
  height: 50px;  // TOTAL HACK FOR IOS.
  @include box-shadow (0px, 0px, 5px, 1px, rgba(50,50,50,0.25));
}
.icon-leaderboard{
  position: relative;
  top: 2px;
  height:45px !important; // Fix it up - MC.
}
.icon-metrics{
  position: relative;
  top: 2px;
  height:45px !important;
}
.icon-streams{
  position: relative;
  top: 2px;
  height:45px !important;
  }
.icon-streams {
  @extend .iconbase;
  background: url("../img/icons/stream-icon.svg") no-repeat;
}
.icon-leaderboard {
  @extend .iconbase;
  background: url("../img/icons/leaderboard-icon.svg") no-repeat;
}
.icon-metrics {
  @extend .iconbase;
  background: url("../img/icons/metrics-icon.svg") no-repeat;
}

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

#loginView {
      background-image: url("../img/signin/sprout-signin.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      font-weight:400;
  li{
    margin-bottom: 1rem;
    img{
      opacity: .9;
      margin-bottom: 1rem;
      width:100%;
    }
  }
  .list{
    margin-bottom: 0;
  }
  .row{
    padding: 10% 1rem;
  }    
  .toggle .track{
    background-color: $darkgrey;
    border-color: $mediumgrey;
  }
  .toggle.toggle-positive input:checked+.track {
    border-color: $darkgreen;
    background-color: $green;
  }
  .sign-in{
    max-width: 300px;
    margin: 0 auto;
  }    
  .item-input{
    margin-bottom: 1rem;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .label, a{
    font-size: 0.9rem;
    color: #fff;
    text-decoration: none;
  }
  .input-label, .login-field {
    font-size: 0.9rem;
    font-weight:500;
  }
  .login-field{
    min-width:70px;
    width:70px;
    max-width:70px;
  }
  .item-toggle{
    background:none;
    border: none;
  }
  .error{
    background-color: $assertive;
    color: #fff;   
  }
}


.iconPressed {
  color: $positive !important;
}

.showMore {
  font-size: 0.8rem;
  color: $mediumgrey;
  display: inline-block;
}

.avatar{
  padding: $item-padding;
  max-width: $item-avatar-width;
  max-height: $item-avatar-height;
  width: 100%;
  border-radius: $item-avatar-border-radius;
  float:left;
}


.loading {
  background: rgba(0,0,0,0) !important; // makes the black rectangle in center invisible so the spinner shows nicely.
}

.border-none{
  border: none;
}

.enableTap {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.action-sheet-group {
  margin-bottom: 0;

  &:first-child {
    border-radius: 5px 5px 0px 0px;
    
    @include gradient-divider;

    button {
      color: $orange;
    }
  }

  &:last-child {
    border-radius: 0px 0px 5px 5px;

    button {
      color: $blue;
    }
  }
}

/**** ionic action-sheet style overrides ****/
.action-sheet-wrapper-top {
  @include translate3d(0, -100%, 0);
  @include transition(all ease-in-out 300ms);
  position: absolute;
  top: 0;
  bottom: auto;
  width: 100%;
}

.action-sheet-wrapper-top.action-sheet-up {
  @include translate3d(0, 0, 0);
}


/**** TOAST notification style overrides ****/
.toast-top-full-width {
  top: 43px;
  right: 0;
  width: 100%;
}
.toast-success {
  background-color: $blue;
}
.toast-error {
  background-color: $orange;
}
#toast-container > div.ng-enter,
#toast-container > div.ng-leave
{ 
    -webkit-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}


