@import"variables";
 $top3Multiplier: 1.2;
 $regularLeaderHeight: 65px;
 #LeaderboardList {
    //This is a magic number, but otherwise the cards would touch the right side of the view padding-right: 3%;
    padding-top: 1rem;
    height: 600px;

    .topThree{
        height: 100px !important;
    }
    .leader {
        height: $regularLeaderHeight;
        padding: 0;
        border: 1px solid $lightgrey;
        margin: 10px 0;
        .position {
            font-size: 1.2rem;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-flex-direction: column;
            flex-direction: column;
            display: -webkit-box;
            display: -moz-box;
            display: -webkit-flex;
            display: flex;
            font-weight: 300;
            color: $green;
            border-right: 1px solid $lightgrey;
            &.currentUser{
                border:0;
            }
        }
        img {
            width:40px;
            height:40px;
            border-radius: 0 3px 3px 0;
            float: left;
            margin-top: 11px;
        }
        .icon {
            padding-left: 3px;
        }
        .userInfo {
            .userName {
                font-size: .8rem;
                color: $orange;
                line-height: 1;
                padding-bottom: 0;
                padding-top: 9px;
            }
            .userDepartment {
                font-size: .6rem;
                color: $mediumgrey;
                line-height:1.2;
            }
        }
        .userScore {
            height: 100%;
            margin: 0;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-flex-direction: column;
            flex-direction: column;
            display: -webkit-box;
            display: -moz-box;
            display: -webkit-flex;
            display: flex;
            div:first-child {
                font-size:1rem;
                font-weight: $headings-font-weight;
                color: $orange;
            }
            .points {
                font-size: .6rem;
            }
            .number{
                font-size:1rem;
            }
        }
    }
    .leader:nth-child(-n+3) {
        //Set the first three leaders to have a slightly higher max height than the rest of //The leaders 
        height: ($regularLeaderHeight * $top3Multiplier);
        .position{
            font-size: 2rem;
            font-weight: 300;
        }
        img {
            width:60px;
            height:60px;
            border-radius: 0 3px 3px 0;
            float: left;
            margin-top: 8px;
        }
        .userScore {
            div:first-child {
                font-size: $font-size-large;
            }
            .points {
                font-size: .8rem;
            }
        }
        .userInfo {
            .userName {
                font-size: 1rem;
                color: $orange;
                line-height: 1;
                padding-bottom: 0;
            }
            .userDepartment {
                font-size: $font-size-small;
                color: $mediumgrey;
                line-height: 1.6;
            }
        }
    }
}

.leadboardFilterRow{
    h5{
        margin-bottom: 0px;
        margin-top: 0px;
        text-align: left;
    }
    i{
        padding: 5px;
    }    
    border-bottom: 1px solid $lightgrey;
    border-left: 1px solid $lightgrey;
    border-right: 1px solid $lightgrey;

}
.leadboardFilterRow.selected{
        border-left: 5px solid $green;
        color: black;
    }


.rankingTitle {
    color: $green;
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 10px;
}
#ActivityDurationFilter {
    font-size: .8rem;
    color: $darkgrey;
    margin-top:10px;
}
#LeaderboardContent > .scroll {
    @include display-flex();
    @include flex-direction(column);
    min-height: 100%;
}
#LeaderboardContent{
    padding-top: 0;
}
.currentUser {
    background-color: $green;
    color: white!important;
}
.slider-pager {
    position: absolute;
    top: 0px;
    z-index: $z-index-slider-pager;
    width: 100%;
    height: 20px;
    text-align: center;
    .slider-pager-page {
        display: inline-block;
        margin: 0px;
        width: 15px;
        color: #000;
        text-decoration: none;
    }
    .icon {
        font-size: .6rem;
    }
}