@import"variables";
 .menu-left {
    background-color: #fff;
    .icon {
        width: 60px;
        height:100%;
        float:left;
        .stream-icon {
            fill:$green;
        }
        .activity-icon {
            fill:$orange;
        }
        .leaderboard-icon{
          fill:$blue;
        }
    }
}
ion-side-menu {
    ion-content {
        li {
            width: 100%;
            position: relative;
            color:$darkgrey;
            img {
                float:left;
                width: 60px;
                top: 5px;
                position: relative;
            }
        }
        a.item {
            border-bottom-width: 0px;
            border-top-width: 0px;
            display: block;
            margin: 0;
            border-right:10px solid $base-background-color;
            border-left:0;
            line-height: 40px;
            padding: 5px 0;
        }
        a.item.active {
            background-color: $base-background-color;
        }
        a.item.disabled, a.item.disabled:hover {
            color: $mediumgrey;
        }
        .left-nav-stream.active, .left-nav-stream:hover {
            border-right:10px solid #8cc63e;
        }
        .left-nav-activity.active, .left-nav-activity:hover {
            border-right:10px solid #ef6a33;
        }
        .left-nav-leaderboard.active, .left-nav-leaderboard:hover {
            border-right:10px solid #46c0be;
        }
        .left-nav-settings.active, .left-nav-settings:hover {
            border-right:10px solid #404042;
        }
        .left-nav-logout.active, .left-nav-logout:hover {
            border-right:10px solid #404042;
        }
    }
    user-profile-summary {
        .row {
            background-color: $base-background-color;
        }
        h3.user-full-name {
            font-size: $font-size-large;
            margin-bottom: 0;
            color: $orange;
        }
        img.avatar {
            padding: 0;
            width: $item-avatar-width;
            height: $item-avatar-height;
        }
        .location {
            font-size: $font-size-small;
            color: $mediumgrey;
        }
        .points {
            color: $orange;
            strong {
                font-size: $font-size-large;
            }
        }
        .points-label {
            font-size: $font-size-small;
            color: $mediumgrey;
            text-align: center;
            display: inline-block;
            width: 100%;
        }
    }
}