@import"variables";

 user-profile-summary {
    font-family:'roboto', sans-serif;
    line-height: 18px;
    font-weight: 400;
    .row {
        background-color: $base-background-color;
    }
    h3.user-full-name {
        font-size: 1rem;
        margin-bottom: 0;
        color: $orange;
        font-weight: 400;
    }
    img.avatar {
        padding: 0;
        width: $item-avatar-width;
        height: $item-avatar-height;
    }
    .location {
        font-size: $font-size-small;
        color: $mediumgrey;
    }
    .points {
        color: $orange;
        font-size: .8rem;
        text-align: center;
        display: inherit;
        strong {
            font-size: 1rem;
            font-weight: 500;
        }
    }
    .points-label {
        font-size: $font-size-small;
        color: $mediumgrey;
        text-align: center;
        display: inline-block;
        width: 100%;
    }
}
ion-side-menu {
  font-family:'roboto', sans-serif;
    ion-content {
        li {
            width: 100%;
            position: relative;
            color:$darkgrey;
            img {
                float:left;
                width: 60px;
                top: 5px;
                position: relative;
            }
        }
        a.item {
            border-bottom-width: 0px;
            border-top-width: 0px;
            display: block;
            margin: 0;
            border-right:10px solid $base-background-color;
            border-left:0;
            line-height: 40px;
            padding: 5px 0;
        }
        a.item.active {
            background-color: $base-background-color;
        }
        a.item.disabled, a.item.disabled:hover {
            color: $mediumgrey;
        }
        .left-nav-stream.active, .left-nav-stream:hover {
            border-right:10px solid $green;
        }
        .left-nav-activity.active, .left-nav-activity:hover {
            border-right:10px solid $orange;
        }
        .left-nav-leaderboard.active, .left-nav-leaderboard:hover {
            border-right:10px solid $blue;
        }
        .left-nav-settings.active, .left-nav-settings:hover {
            border-right:10px solid $purple;
        }
        .left-nav-logout.active, .left-nav-logout:hover {
            border-right:10px solid $darkgrey;
        }
    }
}
.menu-left {
    background-color: #fff;
    .row {
        padding:1rem 0
    }
    .avatar {
        border-radius: 0 3px 3px 0;
        position: relative;
        left: -5px;
    }
    .icon {
        font-size: 2.5rem;
        vertical-align: middle;
        padding: 0 10px;
        &.sprout-icon-stream {
            color:$green;
        }
        &.sprout-icon-activity {
            color:$orange;

        }
        &.sprout-icon-leaderboard {
            color:$blue;
        }
        &.sprout-icon-settings {
            color:purple;
        }
        &.sprout-icon-logout {
            color:$darkgrey;
        }
    }
}