.item {
  .item-note {
    .minutes {
      color: black;
      font-size: 0.75rem;
    }
  }
  .activity-name {
    color: black;
    font-size: 0.90rem;
    line-height: 1.5;
    font-weight: bolder;
  }
  
}

.selected {
  font-weight : bold !important;
  color:  $darkgrey !important;
}

.filter {
  color: $mediumgrey;
}