@import"variables";
 .post {
    margin: 1rem .5rem;
    padding: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family:'roboto', sans-serif;
    font-weight: 300;
    font-size: .8rem;
    line-height: 1.2;
    .post-info {
        img {
            border-radius: 0 0 3px 0;
            margin-right: 10px;
            width: 60px;
            height: 60px;
            float:left;
        }
        &.row {
            padding: 0;
        }
        .col {
            padding: 10px 5px 5px 5px;
        }
    }
    .sprout-icon-challenge, .sprout-icon-event, .sprout-icon-group {
        font-size: 4rem;
        color: $green;
        line-height: 1.3;
    }
    .tabs {
        background-size: 0;
        //clears extra border bug
    }
    .tab-item {
        opacity:1;
        font-family:'roboto', sans-serif;
        font-weight: 400;
        max-width: 100%;
    }
    .basic{
        line-height: 1.4;
        color: $mediumgrey;
    }
    .title {
        font-size: 1.8rem;
        color:$blue;
        font-weight: 300;
        margin-bottom: 0px;
    }
    .author {
        padding: 0 0 0 0;
        font-size: .8rem;
        font-weight: 400;
        line-height: 1.4;
        color: $orange;
    }
    .highlight {
        padding: 0 0 0 0;
        font-size: .8rem;
        font-weight: 400;
        line-height: 1.4;
        color: $orange;
    }
    .date {
        font-size: 0.6rem;
        color: $mediumgrey;
        line-height: 1;
    }
    .points-container {
        font-family:'roboto', sans-serif;
        font-weight: 400;
        text-align: center;
        color: $orange;
        .points {
            font-size: 1.4em;
            font-weight: 500;
            display: block;
            text-align: center;
        }
        .pointsLabel {
            font-size: 0.8rem;
            font-weight: 400;
            text-align: center;
        }
    }
    .ion-thumbsup {
        font-weight: 400;
        padding-right: 10px;
        position: relative;
        top: -4px;
    }
    .item-avatar {
        padding-left: 65px;
    }
    .item-avatar > img:first-child {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 60px;
        min-height:60px;
        border: 1px solid $lightgrey;
        border-left: 0;
        border-top: 0;
        border-radius: 0 0 3px 0;
    }
    .hero {
        position: relative;
    }
    .hero-image {
        width:100%;
        margin-top: 10px;
    }
    .join {
        position: relative;
    }
    .join-btn {
        float:right;
        color: orange;
        font-size: 5rem;
    }
    .join-btn-hero {
        position: absolute;
        bottom: 15px;
        right: 10px;
        font-size: 3rem;
        background: #FFF;
        border-radius: 50%;
        &.sprout-icon-join {
            border: 1px solid #fff;
            color: $darkorange;
        }
        &.sprout-icon-joined {
            border: 1px solid #fff;
            color: $green;
        }
    }
    p {
        padding: 10px;
        color: $darkgrey;
        font-family:'Garogier', serif;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.4;
        white-space: pre-wrap !important;
    }
    .ion-close:before {
        color:$lightgrey;
        font-size: .7rem;
        float:right;
        padding-right: 5px;
    }
    .item.item-divider.tabs.tabs-secondary {
        color: $green;
        background-color: transparent;
        border: none;
    }
    .showMoreComments {
        position:relative;
        text-align: center;
        color: $green;
        background: #fff;
        cursor: pointer;
        font-size: .6rem;
        padding: 3px 0 1px 0;
        letter-spacing: 1px;
    }
    .list {
        padding-bottom: 0;
    }
    .postInputArea {
        background: #eee;
        padding-right: 0px;
        .col:first-child {
            padding-right: 0;
        }
        &.row {
            padding:0;
        }
        input {
            font-size: 1rem;
            line-height: 1;
            border-radius: 3px;
            font-family: $font-family-serif;
            font-size: 1rem;
            color:$mediumgrey;
        }
        .button {
            font-size: .8rem;
            text-transform: uppercase;
            line-height: 0;
            color: #aaa;
            background-color: #fff;
            border-radius: 2px;
            border: 1px solid #ddd;
            width: 100%;
            padding:0;
            min-height: 34px;
            padding: 0;
        }
    }
    .likeArea {
        position: relative;
        display: inline-block;
        width: 1.5em;
        padding: 0 5px;
        button {
            position: absolute;
            top: 5px;
            left: 0px;
            font-size: 1.5em;
        }
        .icon {
            color: white;
        }
    }
    .add-comment {
        background-color:#FFF;
        border-color: $lightgrey;
        width: 100%;
        padding: 0 10px;
        max-height: 48px;
        min-height: 22px;
        overflow: auto;
        font-size: 14px;
        line-height: 16px;
        display: inline-block;
    }
    .challenge-description {
        font-weight: 300;
        text-align: center;
        margin: 8px 0;
        padding:0;
        font-family:'roboto', sans-serif;
    }
    .text-bold {
        font-weight: 400;
        font-family:'roboto', sans-serif;
    }
    .challenge-instructions {
        font-family:'garogier', serif;
        margin-top: 5px;
        margin-bottom: 1rem;
    }
   .header-location-icon{
     font-size: 1rem;
     padding-right: 5px;
     color:$orange;
   }
   .event-location{
     color: $darkgrey;
     line-height: 1.8;
   }
}
.comment {
    background: #F9F9F9;
    color: $mediumgrey;
    padding:10px 0;
    .author {
        font-size: .8rem;
    }
    p {
        padding: 1px;
    }
    .editIcon {
        position: absolute;
        top: 0.3em;
        right: 0.3em;
        color: $mediumgrey;
    }
    .comment-avatar {
        width: 40px;
        float:left;
        margin-right: 10px;
        border-radius:0 3px 3px 0;
        border: 1px solid $lightgrey;
        border-left:0;
    }
    .content {
        padding:5px 5px 10px 50px;
        color: $darkgrey;
        font-family:'garogier', serif;
        font-weight: 400;
        font-size: 0.9rem;
        line-height: 1.4;
        white-space: pre-wrap !important;
    }
}
.author-wrapper {
    padding: 10px 5px 0px 10px;
}
.post a.tab-item:after {
    background: #333;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#333));
    background: -webkit-linear-gradient(#fff, #333);
    background: -moz-linear-gradient(#fff, #333);
    background: -ms-linear-gradient(#fff, #333);
    background: -o-linear-gradient(#fff, #333);
    background: linear-gradient(#fff, #333);
}
.row + .row {
    margin-top: 1px;
    padding-top: 0;
}
.count {
    color:$orange;
    font-weight: 700;
    padding-right: 5px;
    vertical-align: middle;
    line-height: 12px;
}
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}
.inner {
    margin-left: auto;
    margin-right: auto;
    width: 175px;
    padding: 10px;
    background: white;
}
.post a.tab-item .inactive {
    color: #CCC;
}
.action-sheet-backdrop {
    z-index: 99999;
}

.activity-log-content{
  word-wrap: break-word;
  text-overflow: ellipsis;
  white-space: normal;
  max-width: 600px;
}


.activity-radio {
  display: inline-block;
  border: 0;

  i.radio-icon {
    left: 0;
    right: auto;
    padding: 0px 8px;
  }

  .item-content, input:checked~.item-content {
    padding: 5px 15px 5px 35px;
    background: $base-background-color;
  }
  
  i.radio-icon {
    visibility: visible;
  }

  input~i.radio-icon:before {
    display: inline-block;
    width: 100%;
    height: auto;
    border: 0;
    background: #fff;
    content: '\f170';
    color: #8cc841;
    padding: 0;
    transition: background-color 20ms ease-in-out;
  }

  input:checked~i.radio-icon:before {
    border-width: 2px;
    border-radius: 20px;
    content: '\f120';
  }
}
