@import"variables";
 .post {
    margin: 1rem .5rem;
    padding: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid #eee;
    border-radius: 4px;
    font-family:'roboto', sans-serif;
    .tabs {
        background-size: 0;
        //clears extra border bug
    }
    .tab-item {
        opacity:1;
        font-family:'roboto', sans-serif;
        max-width: 100%;
    }
    .title {
        font-size: 1.8rem;
        color:$blue;
        font-weight: 400;
        margin-bottom: 5px;
    }
    .author {
        padding: 0 0 0 0;
        font-size: 1rem;
        font-weight: 500;
        color: $orange;
    }
    .date {
        font-size: 0.6rem;
        color: $mediumgrey;
        line-height: 1;
    }
    .points-container {
        padding-right: 12px;
        font-family:'roboto', sans-serif;
        text-align: center;
        color: $orange;
        .points {
            font-size: 1.4em;
            font-weight: 700;
            display: block;
            text-align: center;
        }
        .pointsLabel {
            font-size: 0.6em;
            font-weight: 500;
            text-align: center;
        }
    }
    .ion-thumbsup {
        font-weight: 500;
        padding-right: 10px;
        position: relative;
        top: -4px;
    }
    .item-avatar {
        padding-left: 65px;
    }
    .item-avatar > img:first-child {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 60px;
        min-height:60px;
        border: 1px solid $lightgrey;
        border-left: 0;
        border-top: 0;
        border-radius: 0 0 3px 0;
    }
    .special-avatar {
        padding-left: 65px;
    }
    .special-avatar > img:first-child {
        position: absolute;
        top: 10px;
        left: 10px;
        max-width: 50px;
        border: 0;
        border-left: 0;
        border-top: 0;
        border-radius: 0 0 3px 0;
    }
    .hero{
      position: relative;
    }
    .hero-image {
        width:100%;
    }
    .join{
      position: relative;
    }
    .join-btn{
      width: 50px;
      position: absolute;
      bottom: 15px;
      right: 15px;
    }
    hr {
        border: 0;
        height: 1px;
        background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
        background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
        background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
        background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    }
    p {
        padding: 10px 0 10px 15px;
        color: $darkgrey;
        font-family:'vollkorn', serif;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.4;
        white-space: pre-wrap !important;
    }
    .ion-close:before {
        color:$lightgrey;
        font-size: .7rem;
        float:right;
    }
    .item.item-divider.tabs.tabs-secondary {
        color: $green;
        background-color: transparent;
        border: none;
    }
    .showMoreComments {
        position:relative;
        text-align: center;
        color: $green;
        background: #fff;
        cursor: pointer;
        font-size: .6rem;
        padding: 3px 0 1px 0;
        letter-spacing: 1px;
    }
    .list {
        padding-bottom: 0;
    }
    .postInputArea {
        background: #eee;
        padding:5px 3px 3px 3px;
        input {
            border-radius: 3px;
            margin-right:5px;
        }
        .button {
            font-size: 1rem;
            line-height: 0;
            color: #aaa;
            background-color: #fff;
            border-radius: 2px;
            border: 1px solid #ddd;
            max-width: 19%;
        }
    }
    .likeArea {
        position: relative;
        display: inline-block;
        width: 1.5em;
        padding: 0 5px;
        button {
            position: absolute;
            top: 5px;
            left: 0px;
            font-size: 1.5em;
        }
        .icon {
            color: white;
        }
    }
    .add-comment {
        background-color:#FFF;
        border-color: $lightgrey;
        width: 100%;
        max-height: 48px;
        min-height: 22px;
        overflow: auto;
        font-size: 14px;
        line-height: 16px;
        display: inline-block;
        vertical-align: middle;
    }
}
.comment {
    background: #F9F9F9;
    color: $lightgrey;
    padding:10px 0;
    .author {
        font-size: .8rem;
    }
    p {
        padding: 1px;
    }
    .editIcon {
        position: absolute;
        top: 0.3em;
        right: 0.3em;
        color: $mediumgrey;
    }
    .comment-avatar {
        width: 40px;
        float:left;
        margin-right: 10px;
        border-radius:0 3px 3px 0;
        border: 1px solid $lightgrey;
        border-left:0;
    }
    .content {
        padding:5px 5px 10px 50px;
        color: $darkgrey;
        font-family:'vollkorn', serif;
        font-weight: 400;
        font-size: 0.9rem;
        line-height: 1.4;
        white-space: pre-wrap !important;
    }
}
.post a.tab-item:after {
    background: #333;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#333));
    background: -webkit-linear-gradient(#fff, #333);
    background: -moz-linear-gradient(#fff, #333);
    background: -ms-linear-gradient(#fff, #333);
    background: -o-linear-gradient(#fff, #333);
    background: linear-gradient(#fff, #333);
}
.row + .row {
    margin-top: 1px;
    padding-top: 0;
}
.count {
    color:$orange;
    font-weight: 700;
    padding-right: 5px;
    vertical-align: middle;
    line-height: 12px;
}
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}
.inner {
    margin-left: auto;
    margin-right: auto;
    width: 175px;
    padding: 10px;
    background: white;
}
.post a.tab-item .inactive {
    color: #CCC;
}