@import"variables";
 // Scroll refresher (for pull to refresh) 

 .scroll-refresher {
  position: absolute;
  top: -70px;
}
.create-post {
  top: 42px;
  position: absolute;
  @include box-shadow (0px, 0px, 5px, 1px, rgba(50, 50, 50, 0.25));
  z-index: 100;
  padding: 0;
  background: #fff;
  border-bottom: 1px solid $lightgrey;
  border-top: 1px solid $lightgrey;
  font-family:'roboto', sans-serif;
  text-align: center;
  form {
    width: 100%;
  }
  .col {
    padding: 10px 15px 10px 10px;
    a, .icon {
      text-decoration: none;
      color: $blue;
      vertical-align: middle;
    }
    .icon {
      font-size: 1.2rem;
    }
    .ion-ios7-compose-outline:before {
        font-size: 1.4rem;
      }
  }
}
.create-post-input {
  top: 25px;
  padding-bottom: 10px;
}
/* Modal for creating post */
 .create-post-modal, .share-post-modal, .create-activity-modal {
  ion-header-bar button.post {
    font-size: 1rem;
    position: absolute;
    right: 10px;
    padding: 0;
    margin: 0;
    line-height: 1;
    color: $mediumgrey;
    background-color: $base-background-color;
    top: 5px;
    right: 5px;
    bottom: 5px;
  }

  ion-header-bar button.post.active {
    color: $blue;
    font-weight: 500;
    opacity: 1;
  }
  ion-content {
    @include display-flex();
    @include flex-direction(column);
    textarea {
      @include display-flex();
      @include flex(1);
    }
  }
  .ion-ios7-search{
    font-size: 1.5rem ;
    padding-right: 10px;
  }
}
.post-box {
  border: 0px solid $mediumgrey;
  border-radius: 0px;
  resize: none;
}

.search-box {
  height: 1rem;
  margin: 0 0 1rem 0;
  padding: .5rem;
  border: 0px solid $mediumgrey;
  border-radius: 0px;
  resize: none;
}
.add-activity-post.activity-select-visible {
  height: 100% !important;
}
.add-activity-post {
  /* top: 44px; */
  width: 100%;
  background: white;
  z-index: 2;
  height: auto;
  overflow: hidden;
  h3.activity-title {
    font-size: 14px;
    text-align: center;
    color: $mediumgrey;
    padding: 10px 0;
    margin-bottom: 0px;
  }
  .activity-select {
    height: 100%;
    position: relative;
    input{
      line-height: 1;
      background: 0;
      padding: 5px;
      border: 0;
      border: 1px solid $lightgrey;
      border-radius: 3px;  
      padding: 7px;  
    }
    .input-label{
      padding:0;
      text-transform: uppercase;
      font-size: .6rem;
      font-weight: 500;
      color:$mediumgrey;
    }
    .item-input{
      padding: 0;
      border: 0;
    }
    .item-checkbox{
      font-size: .8rem;
      padding-left: 30px;
      border: 0;
      padding-bottom: 5px;
      padding-right: 10px;
      padding-top: 5px;
      margin-bottom: 10px;
      display: inline-block;
      margin: 26px 0 5px 0;
    }
    .checkbox-icon {
      position: relative;
      width: 25px;
      height: 25px;
      display: block;
      border: 0;
      background: 0 0;
      cursor: pointer;
      -webkit-appearance: none;
      &:after{
        top: 8px;
        left: 24%;
        display: table;
        width: 14px;
        height: 9px;
      }
    }
    .checkbox {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        z-index: 3;
        margin-top: -21px;
        padding-left: 0;
      }
    .breadcrumb {
      position: absolute;
      top: 19px;
      font-size: .8rem;
      color: $blue;
      .ion-chevron-left {
        font-size: .6rem;
      }
    }
    .list{
      margin-bottom:0px;
    }
    .activity-item-container {
      display: inline-block;
      &:nth-child(odd) {
        padding-right : 5px;
      }
      &:nth-child(even) {
        padding-left : 5px;
      }
      .activity-item {
        font-size: .75rem;
        font-weight: 500;
        border: 1px solid $green;
        background: $lightgreen;
        padding: 5px;
        color: $darkgreen;
        border-radius: 3px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .subdued{
      font-size: .8rem;
      text-align: center;
    }
  }
  .activity-queue-item {
    font-size: .8rem;
    min-height: 0px;
    .item-content {
      padding: 15px;
      min-height: 0px;
    }
  }
}
.numpad-container {
  bottom: 0px;
  width: 100%;
  text-align: center;
  border-top: 1px solid #e6e6e6;
  .numpad-row {
    @include display-flex();
    @include flex-direction(row);
    @include flex(1);
    .key {
      @include flex(1);
      text-align: center;
      background-color: #f7f7f7;
      color: #333;
      height: 52px;
      line-height: 52px;
      // Squish keyboard for iPhone 4S @media (max-height: 567px) {
        height: 40px !important;
        line-height: 40px !important;
      }
      &:nth-child(2n) {
        border-right: 1px solid #e6e6e6;
        border-left: 1px solid #e6e6e6;
      }
      &:nth-child(-n+11) {
        border-bottom: 1px solid #e6e6e6;
      }
      &.skip {
        color: #999;
      }
      &.continue {
        color: #fff;
        /*background-color: $active; */
      }
    }
  }
  .ellipsis {
    text-overflow: ellipsis;
  }
  // Scroll stuff 

  #stream-header {
    position: absolute;
    width: 100%;
    z-index: 99999;
    background: white;
    height:20px;    
  }
  #sproutPostsScroller {
    top: 5px;
  }

.share-post-modal, .create-post-input {
  h3.share-target {
    font-size: 100%;
    color: $mediumgrey;
    padding-left: 5px;

    span {
      color: $green;
    }
  }
}

.share-post-modal {
  .styled-radio:first-child {
    border-top: 1px solid $lightgrey;
  }
  .styled-radio {
    border-bottom: 1px solid $lightgrey;
    border-collapse: collapse;
    margin: 0;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}