<div class="item-avatar">
  <img ng-src="{{post.avatarURL}}" />

  <div class="post-info row">
    <div class="col col-66">
      <span class="author">{{post.owner.firstNameDisplay + ' ' + post.owner.lastName}}</span>
      <br />
      <span class="date">{{post.dateTimeCreated | date : 'MMM d, h:mma'}}</span>
    </div>
    <div class="col col-25">
      <div ng-show="post.streamItemDisplay.values.points" class="points-container">
        <span class="points">{{post.streamItemDisplay.values.points}}</span>
        <span class="pointsLabel">points</span>
      </div>
    </div>
      <div class="col" data-ng-click="deletePost(post)">
    <div class="ion-close"></div>
  </div>
  </div>
</div>