<h1 class="title" ng-click="showDetailView()">{{post.detail.challengeName}}</h1>
<div class="highlight">Ends: {{post.detail.challengeDeadline | date : 'MMM d'}}
<span class="basic"> - {{post.detail.numChallengeParticipants}} Challengers</span></div>
<div class="basic uppercase" ng-if="isWrappedInModal">{{post.detail.challengeType}}</div>

<!--var mockChallengeDetailData = {-->
<!--challengeId: 666,-->
<!--challengeName: 'Bike to work',-->
<!--challengeDescription: 'Bike to work for a week',-->
<!--challengeInstruction: 'Ride your bike to work from home, and back for a week',-->
<!--challengeImageURL: 'app/stream/post/joinable/components/detail/sample-images/biketowork.jpg',-->
<!--challengeType: 'Company Goal',-->
<!--challengeDeadline: new Date(),-->
<!--numChallengeParticipants: 42,-->
<!--challengeParticipants: {}-->
<!--};-->