<!--<p>{{detail.challengeName}}</p>-->
<!--<p>{{detail.challengeId}}</p>-->
<!--<p>{{detail.challengeImageURL}}</p>-->
<!--<p>{{detail.challengeType}}</p>-->
<!--<p>{{detail.challengeDeadline}}</p>-->
<!--<p>{{detail.numChallengeParticipants}}</p>-->
<!--<p>{{detail.challengeParticipants}}</p>-->
<!--<img ng-src="{{detail.challengeImageURL}}"/>-->

<p class="challenge-description">{{detail.challengeDescription}}</p>
<hr/>
<p class="challenge-instructions"><span class="text-bold">Challenge instructions:</span> {{detail.challengeInstruction}}</p>