<div class="item post" id="stream_item_{{item.streamItemId}}">

  <!--USER AVATAR w/ AUTOMATED TEXT-->
  {{#if isCommentsView}}
  <div class="post-info row">
    <div class="col">
      <img src="{{item.avatarURL}}" class="activity-log-avatar"/>
      <!--TODO replace {user.name} with class author and add as link, right now it's hardcoded below -->
      <span class="author">{{displayName}}</span>
      <span class="activity-log-content">{{item.content}}</span>
      <div class="date">{{timeCreated}}</div>
      {{#unless heroImage}}
        <i class="icon" class="{{joinButtonClass1}} {{joinButtonClass2}}"></i>
      {{/unless}}
    </div>

    {{#if item.streamItemDisplay.values.points}}
    {{#if itemType.isGeneric}}
      <div class="col col-33">
        <div class="points-container">
          <span class="points">{{item.streamItemDisplay.values.points}}</span>
          <span class="pointsLabel">points</span>
        </div>
      </div>
    {{/if}}
    {{/if}}

    {{#if item.viewer.isOwnedByViewer}}
      <div onclick="{{handlers.close}}" class="delete-icon ion-close"></div>
    {{/if}}
  </div>
  {{/if}}

  <!--HEADER-->
  <div class="post-info row">
      <i class="icon {{ headerIcon }}"></i>
      <div class="col col-75">

        {{#if itemType.isGroup}}
          <h1 class="title" onclick="{{handlers.showDetails}}">{{item.detail.groupName}}</h1>
          <div class="author">{{item.detail.numGroupMembers}} Members</div>
        {{/if}}

        {{#if itemType.isChallenge}}
          <h1 class="title" onclick="{{handlers.showDetails}}">{{item.detail.challengeName}}</h1>
          <div class="highlight">Ends: {{challengeDeadline}}
          <span class="basic"> - {{item.detail.numChallengeParticipants}} Challengers</span></div>

          {{#if isWrappedInModal}}
            <div class="basic uppercase" ng-if="isWrappedInModal">{{item.detail.challengeType}}</div>
          {{/if}}
        {{/if}}

        {{#if itemType.isEvent}}

          <h1 class="title" onclick="{{handlers.showDetails}}">{{item.detail.eventName}}</h1>
          <div class="highlight">{{eventDateTime}}
          <span class="basic"> - {{item.detail.numEventAttendees}} Attending</span></div>


          {{#if isWrappedInModal}}
            <div class="event-location" onclick="{{handlers.openEventUrl}}">
              <i class="icon ion-ios7-location header-location-icon"></i>
              {{item.detail.eventLocation}}
            </div>
          {{/if}}

        {{/if}}

      </div>

    {{#if itemType.isJoinable}}
    {{#if hasNotHeroImage}}
      <div class="col">
          <i class="icon icon {{joinButtonClass1}} {{joinButtonClass2}}" onclick="{{handlers.toggleMembership}}"></i>
      </div>
      {{/if}}
      {{/if}}
  </div>


  <div class="hero">
    <div class="join">
      {{#if hasHeroImage}}
        <i class="icon icon {{joinButtonClass1}} {{joinButtonClass2}}"
          onclick="{{handlers.toggleMembership}}"></i>
        <img src="{{ heroImage }}" class="hero-image" onclick="{{handlers.showDetails}}">
      {{/if}}
    </div>
  </div>

  {{#if isCommentsView}}
  <div class="item item-divider tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" onclick="{{handlers.like}}">
      <span class="count">{{item.likeCount}}</span><i class="icon ion-thumbsup" 
      class="{{likeButtonClass}}"></i>
    </a>
    <div class="vertical-divider"></div>
    <a class="tab-item" onclick="{{handlers.showComments}}">
      <span class="count">{{item.comments.length}}</span><i class="icon ion-chatbox"></i>
    </a>
  </div>

  <div class="list">
    {{#each comments}}
      <div class="item hide-after comment">
        <img class="comment-avatar" src="{{this.comment.avatarURL}}"/>
        {{#if this.isEditable}}
          <span class="icon ion-edit editIcon" onclick="{{handlers.showEditMenu}}"></span>
        {{/if}}
        <div>
          <span class="author">{{this.displayName}}</span>
          -
          <span class="date">{{this.dateTimeCreated}}</span>
        </div>
        <div class="content">{{this.parsedContent}}</div>
      </div>
    {{/each}}

    <div class="postInputArea row">
      <div class="col col-80">
        <input type="text" maxlength="24" placeholder="your comment here" id="text_stream_item_{{item.streamItemId}}"
          class="add-comment"/>
      <!--expand-input ng-model="post.newComment"
                    max-length="8000"
                    placeholder="Add a comment..."
                    >
      </expand-input-->
      </div>
      <div class="col col-20">
        <button type="button" class="button button-small button-stable"
          onclick="{{handlers.postComment}}">Post</button>
      </div>
    </div>
  </div>
  {{/if}}


  {{#if isDetailsView}}
    {{#if itemType.isGroup}}

    {{/if}}

    {{#if itemType.isChallenge}}
      <p class="challenge-description">{{item.detail.challengeDescription}}</p>
      <hr/>
      <p class="challenge-instructions"><span class="text-bold">Challenge instructions:</span> {{item.detail.challengeInstruction}}</p>
    {{/if}}

    {{#if itemType.isEvent}}
      <p><span class="text-bold">Event description: </span>{{item.detail.eventDescription}}</p>
    {{/if}}
  {{/if}}



</div>
