<!-- ion-nav-bar goes here -->
<ion-view title="Streams">


  <div id="stream-header">
    <ion-header-bar align-title="center" class="bar">
      <left-nav-toggle-btn></left-nav-toggle-btn>
      <h1 class="title" ng-click="toggleStreamItemFilters()">
        {{filterByType}}
      </h1>
      <span class="icon ion-chevron-down filter-chevron"  ng-class="{'ion-chevron-down':!showStreamItemFilters,'ion-chevron-up':showStreamItemFilters }"></span>
      <!-- <span class="icon ion-chevron-down filter-chevron"></span> -->
      <!-- only show if user is logged in -->
      <!-- ng-show="AuthSvc.isLoggedIn()" -->
      <!-- Settings Button -->

      <div class="buttons">
        <button class="button button-clear icon sprout-icon-notification"></button>
      </div>

    </ion-header-bar>
    <div class="row stream-item-filter" ng-show="showStreamItemFilters">
      <div class="leadboardFilterRow row" ng-repeat="filter in streamItemFilters" ng-class="{selected : (filter.filterId == selectedStreamItemFilter.filterId)}">
         <h5 class="col" ng-click="selectStreamItemFilter(filter)" ng-class="{'col-90': !filter.subFilters}"> {{filter.displayName}} </h5>
         <i ng-if="filter.filterId == selectedStreamItemFilter.filterId" class="icon ion-checkmark-circled balanced col-10"></i> 
        <i ng-if="filter.subFilters" class="icon ion-chevron-right col-10 " style="float: right" ng-click="showSubStreamItemFilters(filter)"></i> 
      
      </div>
    </div>
    <div class="row create-post">
          <div class="col">
            <span class="icon ion-ios7-compose-outline"></span>
            <a ng-click="createPost()" href="javascript:void(0)">Post To Stream</a>
          </div>
          <div class="vertical-divider"></div>
          <div class="col">
            <span class="icon ion-ios7-stopwatch-outline"></span>
            <a ng-click="createActivity()" href="javascript:void(0)">Track Activities</a>
        </div>
    </div>

  </div>

  
  <ion-content id="sproutPostsScroller"
    delegate-handle="streamScroller"
    header-shrink scroll-event-interval="5">
    
    <ion-refresher on-refresh="onRefreshPullDown()"
      pulling-text="Pull to refresh..."
      refreshing-text="Refreshing!"
      refreshing-icon="ion-loading-c">
                
    </ion-refresher>

    

    <!-- activity-select ng-show=addActivityVisible -->

    <!--
      This input box should be a fixed element that sits
      on top of the ion-content. Use a directive similar to: http://codepen.io/ionic/pen/hIzFp?editors=001 to show/hide this. Or just fire a CSS transition to animate in/out based on the scrolling direction
     -->

      <div class="item post" ng-repeat="post in stream.items track by post.streamItemId" data-modal="modal" data-dialog="dialog">
          <post post="post" modal-container="streamItemModal" is-wrapped-in-modal="false" view-type="'COMMENTS'"></post>
      </div>


    <!--
      This makes scrolling slow.
      Handle API updates manually and consider
      tying into ionic.DomUtil.requestAnimationFrame(callback)
      instead i.e, make update calls inside the requestAnimationFrame
      function. Probably don't need to do this though.
    -->
    <ion-infinite-scroll
      on-infinite="performInfiniteScroll()"
      icon="ion-loading-c"
      distance="1%">
    </ion-infinite-scroll>

	</ion-content>
  <ion-content ng-show="status=='NO_CONNECTION'">
  <ng-include src="'app/stream/no-connection.tpl.html'"></ng-include>
  </ion-content>
  <ion-content ng-show="status=='NO_STREAM_ITEMS_FOUND'">
    <ng-include src="'app/stream/no-streams.tpl.html'"></ng-include>
  </ion-content>
</ion-view>
