<div class="list">
  <div class="item hide-after comment" data-ng-repeat="comment in post.comments | trimToLatest:numCommentsDisplayed:isWrappedInModal">
    <sprout-comment comment="comment" user="user" delete-post="deleteComment(c)"></sprout-comment>
  </div>
  <div class="postInputArea row">
    <expand-input ng-model="post.newComment"
                  max-length="8000"
                  placeholder="Add a comment..."
                  class="col col-80"
                  input-class="add-comment">
    </expand-input>
    <button type="button" class="button button-small button-stable col col-20" ng-click="postComment(post.newComment)">Post</button>
  </div>
</div>