<div class="list">
  <div class="item hide-after comment" data-ng-repeat="comment in post.comments | trimToLatest:numCommentsDisplayed:isWrappedInModal">
    <sprout-comment comment="comment" user="user" delete-post="deleteComment(c)"></sprout-comment>
  </div>
  <!-- <div class="showMoreComments" ng-click="toggleComments()" ng-if="!isWrappedInModal" ng-show="post.comments.length > STREAM_CONSTANTS.initialCommentCountShown">
    {{numCommentsDisplayed==post.comments.length && 'hide more' || 'show more'}}
  </div> -->
  <div class="postInputArea row">
    <input type="text" ng-model="post.newComment" ng-enter="postComment(post.newComment)" placeholder="Add a comment..." class="add-comment col col-80">
    <button type="button" class="button button-small button-stable col col-20" ng-click="postComment(post.newComment)">Post</button>
  </div>
</div>