<div class="item item-divider tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" data-ng-click="likePost(post)">
        <span class="count" data-ng-bind="post.likeCount"></span><i class="icon ion-thumbsup" data-ng-class="{'inactive':!post.viewer.isLikedByViewer}"></i>
    </a>
    <div class="vertical-divider"></div>
    <a class="tab-item" href="javascript:void(0)" ng-click="showFullPost()">
        <span class="count" ng-bind="post.comments.length"></span><i class="icon ion-chatbox"></i>
    </a>
</div>