<div class="modal">
  <ion-header-bar>
    <button class="button button-icon icon ion-android-system-back" ng-click="closeFullPost()"></button>
    <h1 class="title"></h1>
  </ion-header-bar>
  <ion-content class="padding has-header">
    <div class="item post">
      <div class="item-avatar">
        <img ng-src="{{currentPost.avatarURL}}" />

        <div class="post-info row">
          <div class="col col-75">
            <span class="author">{{currentPost.owner.firstName}}</span>
            <br>
            <span class="date">{{currentPost.dateTimeCreated | date : 'MMM d, y h:mm:ss'}}</span>
          </div>
          <div class="col">
            <div ng-show="currentPost.points" class="points-container">
              <span class="points">{{currentPost.points}}</span>
              <span class="pointsLabel">points</span>
            </div>
          </div>
        </div>
      </div>

      <p class="wrap" ng-bind="postContent"></p>

      <div class="item item-divider tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#" data-ng-click="liked(currentPost.id)">
          <span class="count">+1</span><i class="icon ion-thumbsup"></i>
        </a>
        <div class="vertical-divider"></div>
        <a class="tab-item" href="#" data-ng-click="commented(currentPost.id)" ng-hide="type == 'comment'">
          <i class="icon ion-chatbox"></i><span class="count" ng-bind="currentPost.commentCount"></span>
        </a>
      </div>

      <div class="postInputArea row" ng-hide="type == 'comment'">
        <div class="likeArea">
          <button class="button button-icon button-small icon ion-thumbsup" ng-click="like()"
                  ng-class="{iconPressed: liked}"></button>
        </div>
        <input type="text" maxlength="8000" ng-model="commentText" ng-enter="postComment(commentText)">
      </div>

      <div class="list">
        <div class="item hide-after comment"
             data-ng-repeat="comment in currentPost.comments">
              <sprout-comment comment="comment" user="user" delete-post="deleteComment(c)"></sprout-comment>
        </div>
        <!-- <div class="showMoreComments" ng-click="showAllComments()" ng-show="post.commentCount > STREAM_CONSTANTS.initialCommentCountShown">
          {{showCommentCount==post.commentCount && 'hide more' || 'show more'}}
          <span us-spinner="{radius:4, width:3, length: 3}" spinner-key="{{$id}}"></span>
        </div> -->
    </div>
    </div>
  </ion-content>
</div>
