<div class="item-avatar">
    <img ng-src="{{post.avatarURL}}" />

    <div class="post-info row">
        <div class="col col-75">
            <span class="author">{{post.streamItemDisplay.values.user.name}}</span>
            <br />
            <span class="date">{{post.dateTimeCreated | date : 'MMM d, h:mma'}}</span>
        </div>
        <div class="col">
            <div ng-show="post.points" class="points-container">
                <span class="points">{{post.points}}</span>
                <span class="pointsLabel">points</span>
            </div>
        </div>
        <div class="ion-close col" data-ng-click="deletePost(post)"></div>
    </div>
</div>

<p class="wrap" ng-bind="content"></p>
<div class="text-center">
  <a href="javascript:void(0)" class="showMore" ng-show="contentIsOverflowing" ng-click="showFullPost()">Show more...</a>
</div>

<div class="item item-divider tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" data-ng-click="likePost(post)">
        <span class="count" data-ng-bind="post.likeCount"></span><i class="icon ion-thumbsup" data-ng-class="{'inactive':!post.viewer.isLikedByViewer}"></i>
    </a>
    <div class="vertical-divider"></div>
    <a class="tab-item" href="javascript:void(0)" ng-click="showFullPost()">
        <span class="count" ng-bind="post.comments.length"></span><i class="icon ion-chatbox"></i>
    </a>
</div>


<div class="list" data-ng-show="commentsExist">
  <div class="item hide-after comment" data-ng-repeat="comment in post.comments | trimToLatest:numCommentsDisplayed:isWrappedInModal">
      <sprout-comment comment="comment" user="user" delete-post="deleteComment(c)"></sprout-comment>
  </div>

  <div class="postInputArea row">
    <input show-keyboard="focus" type="text" ng-model="post.newComment" ng-enter="postComment(post.newComment)" placeholder="Add a comment..." class="add-comment col col-80">
    <button type="button" class="button button-small button-stable col col-20" ng-click="postComment(post.newComment)">Post</button>
  </div>
</div>