.header {
  padding-top: 44px;
}

#map {
  height: 140px;
}

#map_canvas {
  position:absolute;
  width:100%;
  min-height:100%;
  top:0px;
  left:0px;
  z-index:-1
}

img {max-width:100%}

.title {
  background-color: #4da75c !important;
}

.scroll {
  height: 100%;
  background: #fbfcf5;
}


.bar-balanced {
  background-color: #4da75c !important;
}

.tab-item {
  margin: auto !important;
  padding: 0!important;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 1.3em;
  display: block;
  background: #4da75c;
  color: #fff;  
  max-width: 100%;
}

#login {
  background-color: #C4E2C4
}

.login-text {
  position: absolute;
  width: 250px;
  text-align: center;
  left: 50%;
  top: 40%;
  margin-left: -125px;
}

.login-text h1{
  color: #fff;
  font-size: 40px;
}

.login-text p{
  color: #50854E;
  font-size: 21px;
  line-height: 1.2em;
}

.loginImage {
  position: absolute;
  left: 50%;
  margin-left: -150px;
  max-width: 300px;
  bottom: 65%;
}

.loginbutton {
  position: absolute;
  left: 56%;
  margin-left: -150px;
  max-width: 300px;
  bottom: 15%;
}

.loginInput {
  border-radius: 5px;
  background: rgb(235, 243, 235);
}

.loginInputBottom {
  border-radius: 5px;
  background: rgb(235, 243, 235);
  margin-top: 3%;
}

/*.arrows {
  background:url("../img/fresh_arrow.png") no-repeat right;
  height: 100px;
}*/

.item-content {
  /*background:url("../img/fresh_arrow.png") no-repeat right center !important;*/
  padding: 20px !important ;
/*  max-width: 100% !important;*/
    font-family: 'Montserrat', sans-serif !important;
font-size: 1.3em;
}

.tab-content {
  max-width: 100% !important;
}

.tabs {
  background: #4da75c;
}

h1, h2, h3, h4 { 
  font-family: 'Montserrat', sans-serif !important;
}

h4 {
  text-transform: uppercase;
  font-size: 1em;
}

.list-background {
  font-size: 14px;
}
.list-background-last {
  background-color: #f5f5f5;
  font-size: 14px;
}

.button {
  background-color:#6ed387;
  color: #fff !important;
}

.back-button {
  background-color: : #498f24;
}

.padding {
  padding: 0;
}

/*landing*/
#position_landing {
  padding: 10%;
  padding-top: 15%;
}

.landing_button {
  background-color: #6ed387 !important;
  text-align: left;
  padding: 10px;
  font-size: 1.5em;
     font-family: 'Montserrat', sans-serif !important;

  /*background: #6ed387 url('img/search.png') no-repeat left center; */
}

.facebookButton {
  background-color: #4898D6 !important;
}

.signupButton {
  background-color: #3b834d !important;
}

.landing_button1 {
  background-color: #3b834d !important;
  text-align: left;
  padding: 10px;
  font-size: 1.5em;
     font-family: 'Montserrat', sans-serif !important;

  /*background: #6ed387 url('img/search.png') no-repeat left center; */
}
      .controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        padding: 0 11px 0 13px;
        width: 400px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
      }

      #pac-input:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px;  /* Regular padding-left + 1. */
        width: 401px;
      }

      .pac-container {
        font-family: Roboto;
      }

.scroll-content {
  overflow-x: hidden;
}

#special_button {
margin-top: 10px;
margin-bottom: 80px;
}

.select-class {
  padding-left:0;
}

.h-line {
  padding-left:10px;
  width:90%;
  height:1px;
  background: rgb(226, 226, 226)
}

.image {
  height: 80px;
  width: 80px;
  float: left;
}
.listsLength {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
}

/* CSS to resize lists height*/
.lists .list {
  height:100%;
}

.lists .list .scroll-view{
  height:60%;
}

.menu-list-size {
  font-size: 14px;
}
