.header {
  padding-top: 44px;
}

#map {
  height: 140px;
}

#map_canvas {
  position:absolute;
  width:100%;
  min-height:100%;
  top:0px;
  left:0px;
  z-index:-1
}

img {max-width:100%}

.title {
  background-color: #4da75c !important;
}

.scroll {
  height: 100%;
  background: #fbfcf5;
}


.bar-balanced {
  background-color: #4da75c !important;
}

.tab-item {
  margin: auto !important;
  padding: 0!important;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 1.3em;
  display: block;
  background: #4da75c;
  color: #fff;  
  max-width: 100%;
}

.signin-background {
  padding: 10% 1rem;
}

.signin-background .scroll {
  clear: both;
  height: 100%;
}


.signin-background li{
    margin-bottom: 1rem;
    img{
      opacity: .9;
      margin-bottom: 1rem;
      width:100%;
    }
  }
.signin-background .list{
    margin-bottom: 0;
  }
.signin-background .row{
    padding: 7% 1rem;
  }


.sign-in{
  max-width: 300px;
  margin: 0 auto;
}


.login-text h1{
  color: #fff;
  font-size: 40px;
}

.login-text p {
  text-align: center;
  padding-top: 7%;
  color: #50854E;
  font-size: 21px;
  line-height: 1.2em;
}



.loginImage {
  position: absolute;
  left: 50%;
  margin-left: -150px;
  max-width: 300px;
  bottom: 65%;
}

.loginbutton {
  position: absolute;
  left: 56%;
  margin-left: -150px;
  max-width: 300px;
  bottom: 15%;
}

.loginInput {
  border-radius: 5px;
  background: rgb(235, 243, 235);
}

.loginInputBottom {
  border-radius: 5px;
  background: rgb(235, 243, 235);
  margin-top: 3%;
}

/*.arrows {
  background:url("../img/fresh_arrow.png") no-repeat right;
  height: 100px;
}*/

.item-content {
  /*background:url("../img/fresh_arrow.png") no-repeat right center !important;*/
  padding: 20px !important ;
/*  max-width: 100% !important;*/
    font-family: 'Montserrat', sans-serif !important;
font-size: 1.3em;
}

.tab-content {
  max-width: 100% !important;
}

.tabs {
  background: #4da75c;
  opacity: 0.92;
}

h1, h2, h3, h4 { 
  font-family: 'Montserrat', sans-serif !important;
}

h4 {
  text-transform: uppercase;
  font-size: 1em;
}

.list-background {
  font-size: 14px;
}
.list-background-last {
  background-color: #f5f5f5;
  font-size: 14px;
}

.button {
  background-color:#6ed387;
  color: #fff !important;
}

.back-button {
  background-color: : #498f24;
}

.padding {
  padding: 0;
}

/*landing*/
#position_landing {
  padding: 10%;
  padding-top: 15%;
}

.landing_button {
  background-color: #6ed387 !important;
  text-align: left;
  padding: 10px;
  font-size: 1.5em;
     font-family: 'Montserrat', sans-serif !important;

  /*background: #6ed387 url('img/search.png') no-repeat left center; */
}

.facebookButton {
  background-color: #4898D6 !important;
}

.signupButton {
  background-color: #3b834d !important;
  border-radius: 7px
}

.landing_button1 {
  background-color: #3b834d !important;
  text-align: left;
  padding: 10px;
  font-size: 1.5em;
     font-family: 'Montserrat', sans-serif !important;

  /*background: #6ed387 url('img/search.png') no-repeat left center; */
}
      .controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        padding: 0 11px 0 13px;
        width: 400px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
      }

      #pac-input:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px;  /* Regular padding-left + 1. */
        width: 401px;
      }

      .pac-container {
        font-family: Roboto;
      }

.scroll-content {
  overflow-x: hidden;
}

#special_button {
margin-top: 10px;
margin-bottom: 80px;
}

.select-class {
  padding-left:0;
}

.h-line {
  padding-left:10px;
  width:90%;
  height:1px;
  background: rgb(226, 226, 226)
}

.image {
  height: 80px;
  width: 80px;
  float: left;
  padding-right: 2%;
}
.image img {
  border-radius: 5px;
  box-shadow: 0px 3px 30px 0px rgba(154, 218, 159, 0.61);
}

.listsLength {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
}

/* CSS to resize lists height*/
.lists {
  height:100%;
}

.lists .scroll-view{
  height:72%;
}

.lists a:last-child {
  margin-bottom:44px;
  color:green;
}

.padding-footer {
  padding-bottom: 44px;
}

.menu-list-size {
  font-size: 14px;
}

.loading-spinner {
  font-size: 30px;
  text-align: center;
  padding-top: 30%;
}

/* Filter modal CSS */
.padding-modal {
  padding: 10%;
}

.padding-modal .scroll{
  border-radius: 5px;
}

.padding-modal .scroll .list{
  padding: 10%;
}

.filter-headings {
  text-align: center;
}

.filter-hr-line {
  display: block;
  height: 1px;
  /* border: 0; */
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  width: 80%;
  /* padding-left: 20%; */
  margin-left: 10%;
}

.filter-price-box {
  border: 1px solid #ccc;
  height: 50px;
  padding: 0px;
}

.verticalLine {
  border-left: 1px solid #ccc;
    line-height: 250%;
  text-align: center;
}

.filter-footer-buttons {
  text-align:center;
  line-height: 27px;
}

.center {
  text-align:center;
}

.header-background {
  background: #4da75c;
}

.list-header-content {
  left: 15% !important;
  right: 15% !important;
  text-overflow: ellipsis !important;
  color: white;
}

.padding-left-thumbnails {
  padding-left:15%;
}

.image-radius {
  border-radius: 25%;
}

